<template>
    <div class="footerBar elevation-10">
        <slot>
        </slot>
    </div>
</template>
<script>
export default {
  name: 'footerBar'
}
</script>
<style scoped>
.footerBar {
    background-color:white;
    display: flex;
    padding:50px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100px;
    bottom:0;
    position:fixed;
}
</style>
