<template>
    <div @click="hide()" v-if="show" class="flex-center modal">
        <div @click.stop style="background-color:white;min-width:1000px;min-height:500px;padding:30px;">
            <slot>

            </slot>
        </div>
    </div>
</template>
<script>
export default {
  name: 'modal',
    props: {
		show: {
			type: Boolean
		}
    },
    methods: {
        hide () {
            // this.$emit('hide')
        }
    }
}
</script>

<style scoped>
.modal {
    position:fixed;
    z-index:999;
    background-color:rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
}

</style>