<template>
    <div class="navBar elevation-10">
        <div style="float:left;display:flex;">
            <div v-ripple class="flex-center">
                <img @click="$router.push({name: 'mainPage'}), $emit('fullscreen')" src="@/assets/img/logo.jpg" width="100" height="100">
            </div>
            <div class="flex-center ml-5" style="text-align:left;height:100px;letter-spacing:0.86px;font-size:20px">
                Toronto, ON <br>
                {{ date }}<br>
                {{ time }} <br>
            </div>
        </div>
        <div style="float:right;height:100px" class="flex-center mt-2">
            <div class="flex-center ml-3" style="flex-direction:column">
                <p style="margin-bottom:0"> Mon</p>
                <img src="@/assets/img/rain.png">
                <p> 22/16 </p>
            </div>
            <div class="flex-center ml-3" style="flex-direction:column">
                <p style="margin-bottom:0"> Tue </p>
                <img src="@/assets/img/lightning.png">
                <p> 22/16 </p>
            </div>
            <div class="flex-center ml-3" style="flex-direction:column">
                <p style="margin-bottom:0"> Thu </p>
                <img src="@/assets/img/snow.png">
                <p> 22/16 </p>
            </div>
            <div class="flex-center ml-3" style="flex-direction:column">
                <p style="margin-bottom:0"> Fri </p>
                <img src="@/assets/img/cloud.png">
                <p> 22/16 </p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: 'navBar',
  computed: {
    time () {
        let date = new Date()
        return date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
    },
    date () {
        let date = new Date()
        return date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
    }
  }
}
</script>
<style scoped>
.navBar {
    background-color:white;
    padding-left:50px;
    padding-right:50px;
    width: 100vw;
    height: 100px;
}
</style>
