<template>
  <div @click="clicked()" class="elevation-3" style="width:80vw;font-size:20px;margin-bottom:10px">
    <slot name="timer">
    </slot>
    <div class="flex-center">
      <slot name="carName">
      </slot>
      <slot name="ownerName">
      </slot>
      <slot name="time">
      </slot>
      <slot name="image">
      </slot>
      <slot name="status"> 
      </slot>
    </div>
    <slot name="footer">
    </slot>
  </div>
</template>
<script>
export default {
  name: 'row',
  methods:{
    clicked () {
      this.$emit('clicked')
    }
  }
}
</script>
<style scoped>
.row {
    width: 100%;
    height: 50px;
    border: 2px solid grey;
}
</style>
