<template>
  <div>
    <div v-if="step === 0" style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">
        <template>
            <h1 class="mb-3"> Here are your details </h1>
            <v-card style="width:80vw;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:10px">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs7 style="text-align: left;padding-left:50px;">
                            <h3 style="margin-left:-38px"> 
                                <img src="@/assets/img/user.png" height="30" width="26" />
                                personal info
                            </h3>
                            <v-layout row wrap style="margin:0">
                                <h3 xs6>
                                    <span class="tag"> name: </span> <br>
                                    tom jones
                                </h3>
                                <h3 xs6>
                                    <span class="tag"> email: </span> <br>
                                    tom.jones@gmail.com
                                </h3>
                            </v-layout>
                            <h3 >
                                <span class="tag"> address: </span><br>
                                670 caledonia road, toronto <br>
                                on, m6y 2d8
                            </h3>
                            <h3>
                                <span class="tag"> phone number: </span> <br>
                                (416) 458-2729
                            </h3>
                        </v-flex>
                        <v-flex xs5 style="text-align: left;padding-left:50px">
                            <h3 style="margin-left:-75px"> 
                                <img src="@/assets/img/car_small.png" height="30" width="62.6" />
                                vehicle info
                            </h3>
                            <h3 xs6>
                                <span class="tag"> name: </span><br>
                                tom jones
                            </h3>
                            <h3>
                                <span class="tag"> vin: </span><br>
                                dfhjsd898asdfhjj77dy
                            </h3>
                            <h3>
                                <span class="tag"> odometer: </span><br>
                                14,678km
                            </h3>
                            <h3 style="margin-left:-38px">
                                <img src="@/assets/img/2.png" /> factory recalls
                            </h3>
                        </v-flex>
                        <img style="position:absolute;right:50px;top:50px;" src="@/assets/img/2016_nissan_maxima.png" />
                    </v-layout>
                </v-container>
            </v-card>
            <h1 class="mb-3 mt-3"> Services to be completed </h1>
            <v-card style="width:80vw;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:10px">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs6 style="text-align: left;">
                            <h3> 
                                Oil and filter change
                            </h3>
                            <h3> 
                                Replace wiper blades
                            </h3>
                            <h3> 
                                Recall
                            </h3>
                            <h3> 
                                Loaner requested
                            </h3>
                        </v-flex>
                        <v-flex xs6 style="text-align:right;">
                            <h3> 
                                $46.99
                            </h3>
                            <h3> 
                                $24.99
                            </h3>
                            <h3> 
                                included
                            </h3>
                            <h1 class="mt-5"> 
                                Total $73.94
                            </h1>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </template>
    </div>
    <div v-if="step === 1" style="display:flex;justify-content:flex-start;align-items:center;height:80vh;flex-direction:column">
        <template>
            <h1 class="mt-5 mb-3"> Services Approved! </h1>
            <row>
                <div slot="carName" class="flex-center mr-5" style="height:100%;width: 50%;border-right:1px solid grey;">
                    <div class="flex-center" style="flex-direction:column">
                        <img src="@/assets/img/2016_nissan_maxima.png">
                        <h3 style="white-space:nowrap;font-size:27px;letter-spacing:4.55px;color:rgba(74,74,74)"> 2017 lexus ls500 </h3>
                    </div>
                </div>
                <div slot="status" class="flex-center" style="height:100%;width: 50%;flex-direction:column;align-items:left;margin-left:20px">
                    <h3> Miles: 14,667 KM </h3>
                    <h3> Date: Thursday, feb 23, 2018</h3>
                    <h3> Promise Time: 10:00 AM </h3>
                </div>
            </row>
            <h2 style="line-height:51px;color:#4a4a4a;font-size:28px;letter-spacing:4px;">
            Please check your email and text now and verify you checked-in <br>
            Please drop off your keys with the concierge
            </h2>
        </template>
    </div>
    <modal @hide="modal = false" :show="modal">
        <div>
            <h1 class="mb-4"> Authorization of services to be completed and loaner <br> vehicle</h1>
            <!-- <div style="padding-left:70px;margin-bottom:150px" class="mt-4">
                <v-checkbox
                    class="ml-4 mb-4"
                    label="I authorize the completion of the requested services and loaner"
                    v-model="checkbox"
                ></v-checkbox>
            </div> -->
            <div class="flex-center" style="width:100%;margin-bottom:90px">
                <div style="width:50%;padding-left:70px" class="flex-center">
                    <v-checkbox
                        class="ml-4 mb-4"
                        label="I authorize the completion of the requested services and loaner"
                        v-model="checkbox"
                    ></v-checkbox>
                </div>
                <div style="width:50%;margin-left:-70px;flex-direction:column" class="flex-center">
                    <h3> Please sign below </h3>
                    <div style="border:1px solid black">
                        <VueSignaturePad
                        :options="padOptions"
                        width="500px"
                        height="90px"
                        ref="signaturePad"
                        />
                        <div style="border-top:2px solid black;width: 480px;position: relative;bottom: 5px;left: 10px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-center" style="width:100%">
                <div class="flex-center">
                    <div style="width:50%;flex-direction:column" class="flex-center">
                        <a style="font-size:25px;letter-spacing:4.22px;color:rgb(74,74,74);text-decoration:underline;white-space:nowrap"> View exclusion of warranties </a>
                        <v-btn @click="modal = false" class="darkGrey" style="border:none;height:66px;width:296.47px;font-size:18px"> cancel </v-btn>
                    </div>
                    <div style="width:50%;margin-left:100px;flex-direction:column" class="flex-center">
                        <a style="font-size:25px;letter-spacing:4.22px;color:rgb(74,74,74);text-decoration:underline;white-space:nowrap"> View Authorization for repairs</a>
                        <v-btn @click="modal = false, step = 1" class="limeGreen" style="border:none;height:66px;width:296.47px;font-size:18px"> Approve </v-btn>
                    </div>
                </div>
            </div>
        </div>
    </modal>
    <modal @hide="complete = false" :show="complete">
        <div>
            <h1 class="mt-4 mb-4" style="letter-spacing: initial;font-weight:bold;text-transform:initial;font-size:40px"> Payment complete! </h1>
            <img src="@/assets/img/confirm.png">
            <h2 style="letter-spacing: initial;font-weight:bold;text-transform:initial;font-size:25px"> Order payment confirmation: </h2>
            <h1 style="letter-spacing: initial;font-weight:bold;text-transform:initial;"> 1GX75HI</h1>
            <p style="letter-spacing: initial;font-weight:bold;text-transform:initial;"> Your receipt has been emailed to you.</p>
            <h2 style="letter-spacing: initial;text-transform:initial;font-size:25px"> Thank you for servicing with MyTown <br>
                Your next service appointment is:
            </h2>
            <h1 style="letter-spacing: initial;font-weight:bold;text-transform:initial;font-size:40px"> Monday August 13, 2018 at 10:00am</h1>
            <h2 style="letter-spacing: initial;text-transform:initial;font-size:25px"> To book this appointment select Yes <br> or Not now</h2>
            <div class="mt-5 mb-3 flex-center" style="width:100%">
                <div class="flex-center">
                    <div style="width:50%">
                        <v-btn @click="complete = false" class="darkGrey" style="border:none;height:65.25px;width:335.95px;font-size:18px"> Not now </v-btn>
                    </div>
                    <div style="width:50%;margin-left: 100px;">
                        <v-btn class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> Yes </v-btn>
                    </div>
                </div>
            </div>
        </div>
    </modal>
    <footerBar>
        <div v-if="step === 0" class="flex-center" style="width:100%">
            <div class="flex-center">
                <div style="width:50%">
                    <v-btn @click="$router.push({name: 'details'})" class="darkGrey" style="border:none;height:65.25px;width:335.95px;font-size:18px"> cancel </v-btn>
                </div>
                <div style="width:50%;margin-left: 100px;">
                    <v-btn @click="modal = true" class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> Continue </v-btn>
                </div>
            </div>
        </div>
        <div v-if="step === 1" class="flex-center" style="width:100%">
            <div class="flex-center">
                <div style="width:50%">
                    <v-btn @click="step = 0" class="darkGrey" style="border:none;height:65.25px;width:335.95px;font-size:18px"> previous </v-btn>
                </div>
                <div style="width:50%;margin-left: 100px;">
                    <v-btn @click="$router.push({name: 'mainPage'})" class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> next </v-btn>
                </div>
            </div>
        </div>
        <div v-if="step === 2" class="flex-center" style="width:100%">
            <div class="flex-center">
                <div>
                    <v-btn @click="step = 0" class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> close </v-btn>
                </div>
            </div>
        </div>
    </footerBar>
  </div>
</template>

<script>
import footerBar from '@/modules/footerBar'
import modal from '@/modules/modal'
import row from '@/modules/row'
import Vue from 'vue'
import VueSignaturePad from 'vue-signature-pad'
Vue.use(VueSignaturePad)

export default {
  name: 'status',
  components: {
    footerBar,
    modal,
    row
  },
  data () {
    return {
        padOptions: {
            backgroundColor: 'rgb(243,243,241)'
            },
        modal: false,
        checkbox: false,
        step: 0,
        complete: false
    }
  }
}
</script>

<style>
label {
    letter-spacing: 4.22px;
    font-size:25px !important;
    color: rgb(74,74,74) !important;
    white-space: pre-wrap !important;
    overflow:visible!important;
    width:430px !important;
    line-height:25px !important;
    left:60px!important;
}
i.icon.icon--selection-control.material-icons.icon--checkbox, i.icon.icon--selection-control.material-icons {
    font-size:35px;
    color:rgb(75,202,129);
}
</style>