<template>
  <div>
    <div style="display:flex;justify-content:flex-start;align-items:center;height:80vh;flex-direction:column">
      <h1 class="mt-5 mb-5"> Here are your details </h1>
      <v-card style="width:80vw;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:10px">
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs7 style="text-align: left;padding-left:50px;">
                    <h3 style="margin-left:-38px"> 
                        <img src="@/assets/img/user.png" height="30" width="26" />
                        personal info
                    </h3>
                    <v-layout row wrap style="margin:0">
                        <h3 xs6>
                            <span class="tag"> name: </span> <br>
                            tom jones
                        </h3>
                        <h3 xs6>
                            <span class="tag"> email: </span> <br>
                            tom.jones@gmail.com
                        </h3>
                    </v-layout>
                    <h3 >
                        <span class="tag"> address: </span><br>
                        670 caledonia road, toronto <br>
                        on, m6y 2d8
                    </h3>
                    <h3>
                        <span class="tag"> phone number: </span> <br>
                        (416) 458-2729
                    </h3>
                </v-flex>
                <v-flex xs5 style="text-align: left;padding-left:50px">
                    <h3 style="margin-left:-75px"> 
                        <img src="@/assets/img/car_small.png" height="30" width="62.6" />
                        vehicle info
                    </h3>
                    <h3 xs6>
                        <span class="tag"> name: </span><br>
                        tom jones
                    </h3>
                    <h3>
                        <span class="tag"> vin: </span><br>
                        dfhjsd898asdfhjj77dy
                    </h3>
                    <h3>
                        <span class="tag"> odometer: </span><br>
                        14,678km
                    </h3>
                    <h3 style="margin-left:-38px">
                        <img src="@/assets/img/2.png" /> factory recalls
                    </h3>
                </v-flex>
                <img style="position:absolute;right:50px;top:50px;" src="@/assets/img/2016_nissan_maxima.png" />
            </v-layout>
        </v-container>
      </v-card>
      <v-btn class="mt-5" color="white" style="border:none;height:45px;width:521px"> What do you want to do today </v-btn>
      <v-card-actions style="display:flex;justify-content:center;align-items:center;">
          <v-layout row wrap>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="quick()" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">quick <br> appointment </v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'schedule'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">service <br> appointment</v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'express'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">express</v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'dmpi'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">dmpi </v-btn>
                </h3>
            </v-layout>
        </v-card-actions>
        <v-card-actions style="display:flex;justify-content:center;align-items:center;">
          <v-layout row wrap>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'checkIn'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">check-in</v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'checkout'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">check-out</v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;">
                    <v-btn @click="$router.push({name: 'status'})" class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">view status</v-btn>
                </h3>
                <h3 xs3 style="padding-left:53px;visibility:hidden">
                    <v-btn class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;width:250px">select <br> new services</v-btn>
                </h3>
            </v-layout>
        </v-card-actions>
    </div>
  </div>
</template>

<script>

export default {
  name: 'status',
  methods: {
      quick() {
          this.$router.payload = {type: 'quick'}
          this.$router.push({name: 'schedule'})
      }
  }
}
</script>