<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">
      <h1 class="mt-5"> Status of your vehicle </h1>
      <v-card style="width:1500px;height: 740px;display:flex;flex-direction:column;justify-content:center;align-items:center">
        <v-card-title primary-title style="width:100%">
            <div class="flex-center" style="position:absolute;left:100px;top:50px;flex-direction:column">
                <h1 class="mb-3" style="font-size:47px"> 2017 LS500 </h1>
                <img src="@/assets/img/2016_nissan_maxima.png" width="310" height="120">
            </div>
            <div style="position:absolute;right:50px;top:50px;">
                <v-chip color="orange" text-color="white" style="font-size:20px;height:40px;float:right;margin-bottom:20px">
                    <h3 style="color:white"> Service update </h3>
                </v-chip>
            </div>
            <div style="position:absolute;right:50px;top:100px;text-align:left">
               <h2 style="text-align:left">
                    <span style="text-transform:initial;letter-spacing:4px;font-size:28px">Promise time for previously approved services: </span> <br>
                    <v-avatar>
                        <v-icon style="font-size:50px;margin-bottom:10px"> schedule </v-icon>
                    </v-avatar> 
                    <span style="color:#4a90e2;font-size:31px">1:00 PM </span>
                </h2>
            </div>
        </v-card-title>
        <div>
            <h1 style="text-transform:initial;letter-spacing:initial;font-size:35px"> Select your services in: </h1>
            <h1 class="mt-5 flex-center" style="font-size:92.8px"> 
                <span class="flex-center" style="flex-direction:column"> 
                    00:
                    <h1 class="mt-3" style="font-size:15.2px;letter-spacing:2.06;margin-right:20px">Hours </h1>
                </span>
                
                <span class="flex-center" style="flex-direction:column"> 
                    59:
                    <h1 class="mt-3" style="font-size:15.2px;letter-spacing:2.06;margin-right:20px">Minutes </h1>
                </span>
                <span class="flex-center" style="flex-direction:column"> 
                    35
                    <h1 class="mt-3" style="font-size:15.2px;letter-spacing:2.06;margin-right:10px">Seconds </h1>
                </span>
            </h1>
            <h1 style="text-transform:initial;letter-spacing:initial;" class="mt-3"> To have your vehicle ready by </h1>
            <h1 class="mt-3" style="font-size:60px;color:#4a90e2"> 4:00 PM TOday</h1>
        </div>
        <v-card-actions style="display:flex;justify-content:center;align-items:center;position:absolute;bottom:40px;">
          <v-btn class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white;">select <br> new services</v-btn>
          <v-btn class="elevation-10" color="grey" style="font-size:30px;height:100px;color:white">view inspection</v-btn>
        </v-card-actions>
      </v-card>
    </div>
    <footerBar>
        <div class="flex-center" style="width:100%">
            <div class="flex-center">
                <div>
                    <v-btn @click="$router.push({name: 'mainPage'})" class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> close </v-btn>
                </div>
            </div>
        </div>
    </footerBar>
  </div>
</template>

<script>
import footerBar from '@/modules/footerBar'
export default {
  name: 'status',
  components: {
    footerBar
  },
  data () {
    return {
    }
  }
}
</script>