<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">
        <template v-if="step === 0">
            <h1 class="mb-5"> Express Appointments </h1>
            <row  v-for="n in 2">
                <div slot="carName" class="flex-center" style="height:114.75px;width: 20%">
                    2017 LS500 <img style="margin-left:50px" src="@/assets/img/2016_nissan_maxima.png" height="56" width="96.59">
                </div>
                <div slot="ownerName" class="flex-center" style="height:75px;width: 20%;border-right: 1px solid grey">
                    <h3>tom jones </h3>
                </div>
                <div slot="time" class="flex-center" style="height:75px;width: 20%;border-right: 1px solid grey">
                    <h3> 8:00 AM </h3>
                </div>
                <div slot="image" class="flex-center" style="height:75px;width: 10%;border-right: 1px solid grey">
                    <img src="@/assets/img/temp_person.png">
                </div>
                <div slot="status" class="flex-center" style="height:75px;width: 20%;justify-content:flex-start;margin-left:20px">
                    <img src="@/assets/img/green.png" style="margin-right: 40px;"> <h3> in progress </h3>
                </div>
            </row>
            <row v-for="n in 3">
                <div slot="carName" class="flex-center" style="height:114.75px;width: 20%">
                    2017 LS500 <img style="margin-left:50px" src="@/assets/img/2016_nissan_maxima.png" height="56" width="96.59">
                </div>
                <div slot="ownerName" class="flex-center" style="height:75px;width: 20%;border-right: 1px solid grey">
                    <h3>tom jones </h3>
                </div>
                <div slot="time" class="flex-center" style="height:75px;width: 20%;border-right: 1px solid grey">
                    <h3> 8:00 AM </h3>
                </div>
                <div slot="image" class="flex-center" style="height:75px;width: 10%;border-right: 1px solid grey">
                    <img src="@/assets/img/temp_person.png">
                </div>
                <div slot="status" class="flex-center" style="height:75px;width: 20%;justify-content:flex-start;margin-left:20px">
                    <img src="@/assets/img/blue.png" style="margin-right: 40px;"> <h3> waiting </h3>
                </div>
            </row>
        </template>
        <template v-if="step === 1">
            <h1 class="mb-5"> hi tom, your wait time is: </h1>
            <row>
                <h1 class="mt-3" style="font-size:53px" slot="timer">
                    1h 30min 12s
                </h1>
                <div slot="carName" class="flex-center" style="height:100%;width: 20%;flex-direction:column;text-align:center;">
                   <img style="margin-left:50px" src="@/assets/img/2016_nissan_maxima.png" height="102" width="254">
                   <h3 style="margin-left:50px">  2017 LS500  </h3>
                </div>
                <div slot="time" class="flex-center" style="height:75px;width: 20%;border-right: 1px solid grey;border-left:1px solid grey">
                    <h3> 8:00 AM </h3>
                </div>
                <div slot="image" class="flex-center" style="height:100%;width: 10%;border-right: 1px solid grey">
                    <img src="@/assets/img/temp_person.png">
                </div>
                <div slot="status" class="flex-center" style="height:100%;width: 20%">
                    <img src="@/assets/img/blue.png" style="margin-right: 40px;"> <h3> pending </h3>
                </div>
                <div slot="footer" class="flex-center mb-5" style="flex-direction:column">
                    <h3 style="margin:20px">
                        Do you want to receive a text message 30 minutes before this time ?
                    </h3>
                    <div>
                        <v-layout align-center >
                            <v-checkbox :label="`YES`" @change="unCheck(1)" v-model="checkYes" hide-details style="margin-right:-40%"></v-checkbox>
                            <v-text-field v-model="phoneNumber" @input="check(0)" style="width:500px" label="Phone number"></v-text-field>
                        </v-layout>
                        <v-checkbox
                            :label="`NO`"
                            @change="unCheck(0)"
                            v-model="checkNo"
                        ></v-checkbox>
                    </div>
                </div>
            </row>
        </template>
        <v-btn @click="next()" class="elevation-10 mt-5" color="grey" style="font-size:30px;height:90px;color:white;width:336px">
            <img style="margin-right:20px" src="@/assets/img/speed.png"/> add me
        </v-btn>
    </div>
  </div>
</template>

<script>
import row from '@/modules/row'
export default {
  name: 'mainPage',
  components: {
      row
  },
  methods: {
    unCheck (val) {
        console.log(val)
        if (val === 0) {
        this.checkYes = false
        this.phoneNumber = ''
        } else if (val === 1) {
        this.checkNo = false
        }
    },
    next () {
        if (this.step !== 1) {
            this.step++
        } else {
            console.log(this.checkNo)
            if (this.checkYes === true && this.phoneNumber.length >= 9 || this.checkNo === true) {
                this.$router.push({name: 'mainPage'})
            }
        }
    },
    check (val) {
        if (val === 0) {
        this.checkYes = true
        this.checkNo = false
        } else if (val === 1) {
        this.checkNo = true
        this.checkYes = false
        }
    }
  },
  data () {
    return {
      step: 0,
      checkYes: false,
      checkNo: false,
      phoneNumber: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
i.icon.icon--selection-control.material-icons.icon--checkbox, i.icon.icon--selection-control.material-icons {
    font-size:35px;
}
input[type="text"] {
    font-size: 30px;
}
label {
    font-size:27px !important;
    margin-left:20px;
}
input {
    outline: 3px solid grey !important;
}
/* .application .theme--light.input-group input, .application .theme--light.input-group textarea, .theme--light .input-group input, .theme--light .input-group textarea {
    border: 3px solid
} */
table.table {
  /* border-collapse:separate; 
  border-spacing:10px; */
}
thead {
  background-color: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}

td {
  text-align: center;
}
table.table tbody td, table.table thead th {
  font-size: 20px;
}
table.table tbody td:not(:last-child), table.table thead th:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,0.2);
}
table.table tbody tr {
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}
.table__overflow {
    width: 80vw;
    overflow: visible !important;
}
h2 {
  margin-top:20px;
  text-align:center;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
