<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">
      <h1 class="mb-5"> Scheduled appointments for today </h1>
      <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
          class="table"
          @input="test"
        >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.calories }}</td>
          <td>{{ props.item.fat }}</td>
          <td>{{ props.item.carbs }}</td>
          <td>  
            <div v-if="props.item.protein === 'NOT ARRIVED'" style="background-color: #c11532">
              <span style="
font-size: 16px;
color: #FFFFFF;
letter-spacing: 2.5px;
text-align: center;"> {{ props.item.protein}} </span>
            </div>
            <div v-if="props.item.protein === 'COMPLETED'" style="background-color: green">
              <span style="
font-size: 16px;
color: #FFFFFF;
letter-spacing: 2.5px;
text-align: center;"> {{ props.item.protein}} </span>
            </div>
          </td>
          <td>{{ props.item.iron }}</td>
        </template>
      </v-data-table>
      <v-btn class="mt-5" color="white" style="border:none;height:55px;width:332px;">Identify Me </v-btn>
      <v-card-title style="width:80vw">
        <h2> search by vin, phone, email, appointment confirmation # or license: </h2>
        <v-text-field
          @keyup.enter="test()"
          class="ml-3"
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="searchMe"
        ></v-text-field>
      </v-card-title>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
var request = require('request')
export default {
  name: 'mainPage',
  mounted () {
    let _this = this
    request('https://demo2greeterboardapi.dealer-fx.com/api/DFXGreeterBoard/900003', function (error, response, body) {
      // console.log(response.body)
      let temp = JSON.parse(response.body)
      _this.items = temp.map(x => {
        let a = {}
        a.calories = x.customerName
        a.fat = x.year + ' ' + x.make + ' ' + x.model
        a.carbs = x.advisorName
        a.protein = x.status
        a.iron = 'please wait'
        a.value = false
        a.name = new Date(x.appointmentTime).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})
        return a
      })
      _this.$forceUpdate
      console.log(_this.items)
      // console.log(arr)
    })
    console.log($('.icon.material-icons.input-group__append-icon'))
    $('.icon.material-icons.input-group__append-icon').click(() => {
      this.test()
    })
  },
  methods: {
    test (x) {
      this.$router.push({name: 'search'})
    }
  },
  data () {
    return {
      title: 'scheduled appointments for today',
      search: '',
      searchMe: '',
      headers: [
        {
          text: 'appointment time',
          align: 'center',
          sortable: false,
          value: 'name'
        },
        { text: 'customer name', value: 'calories', sortable: false, align: 'center'},
        { text: 'vehicle make & model', value: 'fat', sortable: false, align: 'center'},
        { text: 'technician', value: 'carbs', sortable: false, align: 'center'},
        { text: 'car status', value: 'protein', sortable: false, align: 'center'},
        { text: 'your next step', value: 'iron', sortable: false, align: 'center'}
      ],
      items: []
    }
  }
}
</script>