<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column;">
        <template v-if="step === 3">
            <h1 class="mt-5"> Schedule Appointment</h1>
            <div class="flex-center" style="margin-right:800px">
                <v-btn class="mt-5" color="lightGrey noShadow noSpacing size26" style="text-transform:initial;letter-spacing:0px;border:none;height:70px;border-radius:10px">
                    <v-avatar>
                        <v-icon style="font-size:50px;margin-bottom:0px;margin-right:30px"> schedule </v-icon>
                    </v-avatar>
                    Waiter
                </v-btn>
                <v-btn class="mt-5" color="limeGreen noShadow noSpacing size26" style="text-transform:initial;letter-spacing:0px;border:none;height:70px;border-radius:10px">
                    <img style="margin-right:30px" height="39" width="39" src="@/assets/img/steering_wheel.png" />
                    Own ride
                </v-btn>
            </div>
            <div class="flex-center" style="margin-right:800px;margin-top:80px;margin-bottom:80px;">
                <v-avatar>
                    <v-icon style="font-size:70px"> keyboard_arrow_left </v-icon>
                </v-avatar>
                <div @click="user = 0" class="flex-center" style="flex-direction:column;width:150px;height:150px;justify-content:flex-start">
                    <img :class="{'selected-user': user === 0}" src="@/assets/img/user.jpg" style="margin:20px;border: 3px solid black;border-radius:50%">
                    <p :class="{'selected-user-text': user === 0}" style="font-size:20px;"> Any service Consultant </p>
                </div>
                <div @click="user = 1" class="flex-center" style="flex-direction:column;width:150px;height:150px;justify-content:flex-start">
                    <img :class="{'selected-user': user === 1}" src="@/assets/img/user.jpg" style="margin:20px;border: 3px solid black;border-radius:50%">
                    <p :class="{'selected-user-text': user === 1}" style="font-size:20px;"> DFX test </p>
                </div>
                <div @click="user = 2" class="flex-center" style="flex-direction:column;width:150px;height:150px;justify-content:flex-start">
                    <img :class="{'selected-user': user === 2}" src="@/assets/img/user.jpg" style="margin:20px;border: 3px solid black;border-radius:50%">
                    <p :class="{'selected-user-text': user === 2}" style="font-size:20px;"> John test</p>
                </div>
                <v-avatar>
                    <v-icon style="font-size:70px"> keyboard_arrow_right </v-icon>
                </v-avatar> 
            </div>
            <div class="flex-center" style="width:80vw">
                <div @click="time = 0, timeSelected = '8:00 AM'" class="flex-center" :class="{'selected': time === 0}" style="background-color:white;font-size:30px;width:499px;height:77px;">
                    <v-avatar>
                        <v-icon style="font-size:40px" :class="{'selected': time === 0}"> wb_sunny </v-icon>
                    </v-avatar> 
                    Morning
                </div>
                <div @click="time = 1, timeSelected = '1:00 PM'" class="flex-center" :class="{'selected': time === 1}" style="color:black;font-size:30px;width:499px;height:77px;background-color:white">
                     <v-avatar>
                        <v-icon style="font-size:40px;" :class="{'selected': time === 1}"> brightness_7 </v-icon>
                    </v-avatar>
                    Afternoon
                </div>
                <div @click="time = 2, timeSelected = '6:00 PM'" class="flex-center" :class="{'selected': time === 2}" style="background-color:white;font-size:30px;width:499px;height:77px;">
                     <v-avatar>
                        <v-icon style="font-size:40px" :class="{'selected': time === 2}"> brightness_2 </v-icon>
                    </v-avatar>
                    Evening
                </div>
            </div>
            <div class="flex-center" style="margin-top:80px;margin-bottom:80px;width:80vw">
                <v-avatar>
                    <v-icon style="font-size:70px"> keyboard_arrow_left </v-icon>
                </v-avatar> 
                <div @click="selectedDate = i" v-for="(n, i) in 7" class="flex-center" style="flex-direction:column;width:15%">
                    <h1 :class="{'selected-date': selectedDate === i}" style="padding:10px;padding-left:20px;padding-right:20px;border-radius:5px;font-weight:bold;letter-spacing:initial!important"> {{ n + 5 }} Mar</h1>
                    <p style="font-size:23px">  {{ day[i] }} </p>
                    <v-select
                    :items="items[time]"
                    v-model="timeSelected"
                    label=""
                    :class="{'selected-date': selectedDate === i}"
                    style="padding:5px;padding-left:20px;padding-right:10px;border-radius:5px;font-size:20px; width:130px"
                    ></v-select>
                    <!-- <p  > 2:00pm </p> -->
                </div>
                <v-avatar>
                    <v-icon style="font-size:70px"> keyboard_arrow_right </v-icon>
                </v-avatar> 
            </div>
            
        </template>
        <template v-if="step === 0">
            <h1 class="mt-5"> Please provide more detail on your concerns </h1>
            <row class="mt-5"> 
                <!-- <div slot="carName" class="mt-5" style="background-color:white;width:1200px">
                    Replace rear brake pads/shoes and resurface rotors/drums 
                    <v-btn @click="prev()" color="limeGreen" style="border:none;height:50px;font-size:18px"> Add </v-btn>
                </div> -->
                <div slot="carName" class="mt-3" style="text-align:left;height:5vh;justify-content:center;line-height:5vh;background-color:white">
                    <span style="margin-left: 20px;font-size:30px;margin-right:20px;"> Replace rear brake pads/shoes and resurface rotors/drums </span>
                    <v-btn color="limeGreen noShadow" style="color:white;height:5vh;width:150px;font-size:25px;float:right;margin:0;border-radius:0"> Add </v-btn>
                </div>
                <div slot="footer">
                    <div style="text-align:left;margin-left:50px;margin-bottom:-50px" class="mt-5"> Describe any issues you are having with your vehicle </div>
                    <div style="padding:50px">
                        <v-text-field
                            style="background-color:white"
                            name="input-1"
                            label=""
                            textarea
                        ></v-text-field>
                    </div>
                </div>
            </row>
        </template>
        <template v-if="step === 1">
            <h1 class="mt-5"> Factory Scheduled maintenance </h1>
            <div>
                <h2 class="mt-5" style="text-align:left;margin-bottom:-60px"> Maintenance intervals </h2>
                <div class="flex-center" style="margin-top:80px;margin-bottom:80px;width:80vw">
                    <v-avatar>
                        <v-icon> keyboard_arrow_left </v-icon>
                    </v-avatar> 
                    <div v-for="n in 15" class="flex-center" style="flex-direction:column;width:20%">
                        <v-btn flat style="height:50px;width:20px;font-size:25px"> {{ n * 5 }}K </v-btn>
                    </div>
                    <v-avatar>
                        <v-icon> keyboard_arrow_right </v-icon>
                    </v-avatar> 
                </div>
                <h1 class="mt-5">
                    <v-avatar>
                        <v-icon style="font-size:45px"> assignment </v-icon>
                    </v-avatar>
                    Click to see maintenance schedule 15K
                </h1>
                <row class="mt-5">
                    <div slot="ownerName" style="width:100%">
                        <div style="text-align:left;height:5vh;justify-content:center;line-height:5vh;">
                            <span style="margin-left: 20px;font-size:30px"> 18 months/ 15,000 miles service </span>
                            <v-btn class="limeGreen noShadow" style="color:white;height:5vh;width:150px;font-size:25px;float:right;margin:0;border-radius:0"> Add </v-btn>
                        </div>
                    </div>
                </row>
            </div>
        </template>
        <template v-if="step === 2">
            <h1 class="mt-5"> Select dealer reccommended services: </h1>
            <div>
                <row v-for="n in 2" class="mt-5">
                    <div slot="ownerName" style="width:100%">
                        <div style="text-align:left;height:5vh;justify-content:center;line-height:5vh;">
                            <span style="margin-left: 20px;font-size:30px"> Minor multi-point inspection </span>
                            <v-btn class="limeGreen noShadow" style="color:white;height:5vh;width:150px;font-size:25px;float:right;margin:0;border-radius:0"> Add </v-btn>
                        </div>
                    </div>
                </row>
            </div>
        </template>
        <template v-if="step === 4">
            <h1 class="mb-3"> Appointment scheduled! </h1>
            <row>
                <div slot="carName" class="flex-center mr-5" style="height:100%;width: 50%;border-right:1px solid grey;">
                    <div class="flex-center" style="flex-direction:column">
                        <img src="@/assets/img/2016_nissan_maxima.png">
                        <h3 style="white-space:nowrap;font-size:27px;letter-spacing:4.55px;color:rgba(74,74,74)"> 2017 lexus ls500 </h3>
                    </div>
                </div>
                <div slot="status" class="flex-center" style="height:100%;width: 50%;flex-direction:column;align-items:left;margin-left:20px">
                    <h3> Miles: 14,667 KM </h3>
                    <h3> Date: Thursday, feb 23, 2018</h3>
                    <h3> Promise Time: 10:00 AM </h3>
                </div>
            </row>
            <h2 style="line-height:51px;color:#4a4a4a;font-size:28px;letter-spacing:4px;">
            Please check your email and text now and verify you have received your appointment <br>
            confirmation <br>
            scan the qr to add the appointment to your calendar.
            </h2>
            <img class="mt-5" src="@/assets/img/qr_code.png">
            <v-btn class="mt-5" color="grey" style="border:none;height:50px;width:300px;font-size:18px"> re-send </v-btn>
        </template>
    </div>
    <footerBar>
        <div class="flex-center" style="width:100%">
            <div class="flex-center">
            <div style="width:50%">
                <v-btn @click="prev()" color="darkGrey" style="border:none;height:50px;width:300px;font-size:18px"> Previous </v-btn>
            </div>
            <div style="width:50%;margin-left:100px">
                <v-btn @click="next()" color="limeGreen" style="border:none;height:50px;width:300px;font-size:18px"> Next </v-btn>
            </div>
            </div>
        </div>
    </footerBar>
  </div>
</template>

<script>
import footerBar from '@/modules/footerBar'
import row from '@/modules/row'
export default {
  name: 'mainPage',
  components: {
      footerBar,
      row
  },
  data () {
    return {
      step: 0,
      time: 0,
      user: 0,
      selectedDate: 0,
      timeSelected: '8:00 AM',
      day: [
          'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'
      ],
      items: [
          [
          '8:00 AM',
          '9:00 AM',
          '10:00 AM',
          '11:00 AM',
          '12:00 PM'
          ],
           [
          '1:00 PM',
          '2:00 PM',
          '3:00 PM',
          '4:00 PM',
          '5:00 PM'
           ],
           [
          '6:00 PM',
          '7:00 PM',
          '8:00 PM',
          '9:00 PM',
          '10:00 PM',
          '11:00 PM',
          '12:00 PM'
          ]
      ]
    }
  },
  mounted () {
      console.log(this.$router.payload)
      if (this.$router.payload) {
        if (this.$router.payload.type === 'quick') {
          this.step = 3
          this.$router.payload.type = 'used'
        }
      }
  },
  methods: {
      prev () {
          if (this.$router.payload) {
            if (this.$router.payload.type === 'used') {
              this.$router.push({name: 'details'})
              this.$router.payload.type = ''
            }
        } else {
            if (this.step === 0) {
                this.$router.push({name: 'details'})
                this.$router.payload.type = ''
            } else {
                this.step--
            }
        }
      },
      next () {
        if (this.$router.payload) {
            console.log(this.$router.payload)
            if (this.$router.payload.type === 'used') {
               this.$router.push({name: 'mainPage'})
               delete this.$router.payload
            }
        } else {
            if (this.step !== 4) {
                this.step++
            } else {
                this.$router.push({name: 'mainPage'})
            }
        }
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.selected-date {
    color: white !important;
    background-color:rgb(196,211,48) !important;
}
.selected-user {
    border: 3px solid rgb(196,211,48) !important;
}
.selected-user-text {
    color: rgb(196,211,48) !important;
}
.selected {
    color: white !important;
    background-color:black !important;
}
table.table {
  /* border-collapse:separate; 
  border-spacing:10px; */
}
.application .theme--light.input-group.input-group--textarea:not(.input-group--full-width) .input-group__input, .theme--light .input-group.input-group--textarea:not(.input-group--full-width) .input-group__input {
    padding: 0;
    margin: 0;
}
.input-group__details {
    display: none !important;
}
thead {
  background-color: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}

td {
  text-align: center;
}
table.table tbody td, table.table thead th {
  font-size: 20px;
}
table.table tbody td:not(:last-child), table.table thead th:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,0.2);
}
table.table tbody tr {
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}
.table__overflow {
    width: 80vw;
    overflow: visible !important;
}
h2 {
  margin-top:20px;
  text-align:center;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
