<template>
  <div>
    <div style="display:flex;justify-content:flex-start;align-items:center;height:80vh;flex-direction:column">
      <h1 class="mt-5 mb-5"> Here are your details </h1>
      <v-card style="width:60vw;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:10px;margin-bottom:20px" v-for="n in 2">
        <v-container @click="$router.push({name: 'details'})" grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 style="text-align: left;padding-left:50px;">
                    <v-layout row wrap style="margin:0">
                        <h3 xs6>
                            <!-- <span class="tag"> name: </span> <br> -->
                            Name: tom jones
                        </h3>
                    </v-layout>
                    <h3>
                        <!-- <span class="tag"> address: </span><br>
                         -->
                         Address:
                        670 caledonia road, toronto on, m6y 2d8
                    </h3>
                    <h3>
                        <!-- <span class="tag"> phone number: </span> <br> -->
                        Phone number:
                        (416) 458-2729
                    </h3>
                    <h3>
                        <!-- <span class="tag"> email: </span> <br> -->
                        email:
                        tom.jones@gmail.com
                    </h3>
                </v-flex>
                <!-- <v-flex xs5 style="text-align: left;padding-left:50px">
                    <h3 style="margin-left:-75px"> 
                        <img src="@/assets/img/car_small.png" height="30" width="62.6" />
                        vehicle info
                    </h3>
                    <h3 xs6>
                        <span class="tag"> name: </span><br>
                        tom jones
                    </h3>
                    <h3>
                        <span class="tag"> vin: </span><br>
                        dfhjsd898asdfhjj77dy
                    </h3>
                    <h3>
                        <span class="tag"> odometer: </span><br>
                        14,678km
                    </h3>
                    <h3 style="margin-left:-38px">
                        <img src="@/assets/img/2.png" /> factory recalls
                    </h3>
                </v-flex> -->
                <!-- <img style="position:absolute;right:50px;top:50px;" src="@/assets/img/2016_nissan_maxima.png" /> -->
            </v-layout>
        </v-container>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
    }
  }
}
</script>