<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">
      <h1 class="mb-3"> Status of your vehicle </h1>
      <v-card style="width:80vw;height: 35vh;display:flex;flex-direction:column;justify-content:center;align-items:center">
        <v-card-title primary-title style="width:100%">
            <div class="flex-center" style="border-bottom:1px solid black;width:100%;padding-left:20px;">
                <div style="width:50%;text-align:left;margin-bottom:10px;margin-top:-10px;">
                  <h3> 2017 LS500 </h3>
                </div>
                <div style="width:50%;">
                    <v-chip color="green" text-color="white" style="font-size:20px;height:40px;float:right;margin-bottom:20px">
                        <h3 style="color:white"> Service in progress </h3>
                    </v-chip>
                </div>
            </div>
            <div class="flex-center" style="width:100%;text-align:left!important;align-items:left!important;margin-left:150px;margin-top:80px">
                <div style="width:40%;text-align:left;margin-bottom:10px;margin-top:-10px;">
                    <img src="@/assets/img/2016_nissan_maxima.png">
                    <h3> VIN:</h3>
                    <h3> dfhjsd87hjj77dy </h3>
                </div>
                <div style="width:50%;">
                    <h2 style="text-align:left">
                        Promise time for previously approved services: <br>
                        <v-avatar>
                            <v-icon> schedule </v-icon>
                        </v-avatar> 
                        <span style="color:#4a90e2"> 1:00 PM </span>
                    </h2>
                </div>
            </div>
            <v-progress-linear color="green" v-model="progress"></v-progress-linear>
            <div style="width:33%;text-align:left;margin-top:-30px;">
                <h2> Check-in </h2>
            </div>
            <div style="width:33%;text-align:center;margin-top:-30px;">
                <h2> Inspection and repair</h2>
            </div>
            <div style="width:33%;text-align:right;margin-top:-30px;">
                <h2> pick-up </h2>
            </div>
        </v-card-title>
      </v-card>
    <v-card-actions class="flex-center mt-5">
        <v-btn @click="$router.push({name: 'checkout'})" class="elevation-10" color="grey" style="font-size:30px;height:80px;color:white">pay now</v-btn>
        <v-btn @click="$router.push({name: 'schedule'})" class="elevation-10" color="grey" style="font-size:30px;height:80px;color:white;margin-left:30px;">schedule appointment</v-btn>
        <v-btn class="elevation-10" color="grey" style="font-size:30px;height:80px;color:white;margin-left:30px;">view inspection</v-btn>
    </v-card-actions>
    </div>
    <footerBar>
        <div class="flex-center" style="width:100%">
            <div class="flex-center">
                <div>
                    <v-btn @click="$router.push({name: 'details'})" class="limeGreen" style="border:none;height:65.25px;width:335.95px;font-size:18px"> close </v-btn>
                </div>
            </div>
        </div>
    </footerBar>
  </div>
</template>

<script>
import footerBar from '@/modules/footerBar'
export default {
  name: 'status',
  components: {
      footerBar
  },
  data () {
    return {
        progress: 50
    }
  }
}
</script>

<style>
.green{
    background-color: rgb(116,218,80)!important;
    border-color:rgb(116,218,80)!important;
}
</style>