<template>
  <div>
    <div style="display:flex;justify-content:center;align-items:center;height:80vh;flex-direction:column">

    <v-card v-if="book === true" style="width:70vw;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:10px;margin-bottom:10px;">
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 style="text-align: center;">
                    <h3> 
                        Your appointment has been scheduled and an email will be sent to you shortly. <br>
                        Please fill out the survey below
                    </h3>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
      <h1 class="mb-5"> Satisfaction Survey </h1>
      <h1 style="text-transform: initial;"> Tap on the stars for rating our services</h1>
      <v-card style="width:70vw;height: 40vh;display:flex;flex-direction:column;justify-content:flex-start;align-items:left;text-align:left">
        <h2 class="ml-5 mt-5" style="width:90%;text-align:left;text-transform: initial;letter-spacing:4.89px">
            Did we complete all of the services that you requested?
            <div style="float:right;margin-top:-70px">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <div style="font-size:20px"> 3 stars out of 5 </div>
            </div>
        </h2>
        <h2 class="ml-5 mt-3" style="width:90%;text-align:left;text-transform: initial;letter-spacing:4.89px">
            Did we walk through the invoice with you and explain all of the <br> completed items and pricing?
            <div style="float:right;margin-top:-70px">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <div style="font-size:20px"> 3 stars out of 5 </div>
            </div>
        </h2>
        <h2 class="ml-5 mt-3" style="width:90%;text-align:left;text-transform: initial;letter-spacing:4.89px">
            Was your vehicle ready when promised?
            <div style="float:right;margin-top:-70px">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <div style="font-size:20px"> 3 stars out of 5 </div>
            </div>
        </h2>

        <h2 class="ml-5 mt-3" style="width:90%;text-align:left;text-transform: initial;letter-spacing:4.89px">
            Did we schedule your next service appointment?
            <div style="float:right;margin-top:-70px">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <div style="font-size:20px"> 3 stars out of 5 </div>
            </div>
        </h2>

        <h2 class="ml-5 mt-3" style="width:90%;text-align:left;text-transform: initial;letter-spacing:4.89px">
            Would you recommend us to a friend or relative?
            <div style="float:right;margin-top:-70px">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <img class="mt-5" src="@/assets/img/_star.png">
                <div style="font-size:20px"> 3 stars out of 5 </div>
            </div>
        </h2>
      </v-card>
    <v-card-actions class="flex-center mt-5">
        <v-btn @click="$router.push({name: 'mainPage'})" class="elevation-3" color="limeGreen" style="font-size:30px;height:80px;color:white;width:336px">submit</v-btn>
    </v-card-actions>
    </div>
  </div>
</template>

<script>
export default {
  name: 'status',
  mounted () {
      if (this.$router.payload.book === true) {
          this.book = true
          this.$router.payload.book = false
      }
  },
  data () {
    return {
        progress: 50,
        book: false
    }
  }
}
</script>