<template>
  <div id="app">
    <fs ref="fs" :fullscreen.sync="fullscreen">
      <div id="fullScreen">
        <v-app>
          <navBar @fullscreen="toggle"/>
          <router-view/>
          <footerBar 
            v-if="
              $route.name !== 'schedule' &&
              $route.name !== 'checkIn' &&
              $route.name !== 'survey' &&
              $route.name !== 'status' &&
              $route.name !== 'dmpi'">
            <div>
              <div style="float:left;display:flex;">
                  <div class="flex-center" style="text-align:left; font-size:40px">
                      BUY 3 TIRES <span style="color:rgb(208,2,27)">GET 1 for $1</span> + REBATES
                  </div>
              </div>
              <div class="flex-center" style="position:absolute;right:50px;height:70px">
                  <img src="@/assets/img/tires.png"/>
              </div>
            </div>
          </footerBar>
        </v-app>
      </div>
    </fs>
  </div>
</template>

<script>
import navBar from '@/modules/navBar'
import footerBar from '@/modules/footerBar'
import fullscreen from 'vue-fullscreen'
import Vue from 'vue'
Vue.use(fullscreen, {name: 'fs'})
export default {
  name: 'App',
  data () {
    return {
      fullscreen: false
    }
  },
  methods: {
    toggle () {
      this.$refs.fs.toggle()
      this.$fs.toggle(this.$el.querySelector('#fullScreen'), {
        wrap: true,
        background: 'white',
        callback: this.fullscreenChange
      })
    }
  },
  components: {
    navBar,
    footerBar
  }
}
</script>

<style>
html {
  overflow:hidden;
}
.limeGreen {
  background-color: rgb(196,211,48) !important;
}
.size26 > .btn__content {
  font-size:26px !important;
  height:70px;
  width: 203px;
}
.noSpacing > .btn__content {
  letter-spacing: initial!important;
}
.noBold > .btn__content {
  font-weight: normal !important;
}
.noShadow > .btn__content {
  box-shadow: none !important;
}
.btn.lightGrey > .btn__content{
  background-color: rgb(150,150,150) !important;
  color:white;
  font-size:29px;
  letter-spacing: 4.89px;
  box-shadow: 0 12px 22px 0 rgba(0,0,0,0.24);
}
.btn.darkGrey > .btn__content{
  background-color: rgb(74,74,74) !important;
  color:white;
  font-size:29px;
  letter-spacing: 4.89px;
  box-shadow: 0 12px 22px 0 rgba(0,0,0,0.24);
}
.btn.limeGreen > .btn__content{
  background-color: rgb(196,211,48) !important;
  color:white;
  font-size:29px;
  letter-spacing: 4.89px;
  box-shadow: 0 12px 22px 0 rgba(0,0,0,0.24);
}
.btn.white > .btn__content{
  letter-spacing: 3.71px;
  font-size:22px;
}
.btn.grey > .btn__content{
  color: white !important;
  letter-spacing: 3.71px;
  line-height: 36px;
  font-size:22px;
  border:10px solid white;
  border-radius:0;
  letter-spacing: 3.48px;
}
.tag {
    font-size:16px;
    color:#4a4a4a;
    letter-spacing: 4.22px;
    text-transform:uppercase;
    font-weight: normal;
}
h3 {
  font-size:25px;
  color:#4a4a4a;
  letter-spacing: 4.22px;
  text-transform:uppercase;
  font-weight: normal;
}
.flex-center {
  display:flex;
  justify-content: center;
  align-items: center;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.btn__content{
  color: #4a4a4a;
  letter-spacing: 3.71px;
  line-height: 36px;
  font-size:22px;
}
h1 {
  color:#4a4a4a;
  font-size:29px;
  letter-spacing:4.89px;
  line-height:45px;
  text-transform: uppercase;
}
table.table {
  /* border-collapse:separate; 
  border-spacing:10px; */
}
tr {
  height:55px;
}
th.column.text-xs-center, tr {
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size:16px;
  color:black!important;
}
thead {
  background-color: rgb(239,237,237);
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}

td {
  text-align: center;
}
table.table tbody td, table.table thead th {
  font-size: 20px;
}
table.table tbody td:not(:last-child), table.table thead th:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,0.2);
}
table.table tbody tr {
  /* border-bottom: 20px solid #fafafa !important; */
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}
.table__overflow {
    width: 80vw;
    overflow: visible !important;
}
h2 {
  text-transform: uppercase;
  margin-top:20px;
  text-align:center;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
